# {{ ansible_managed }}

#zmodload zsh/zprof                 # enable zsh profiling

# if you come from bash you might have to change your $PATH.
# export PATH=$HOME/bin:/usr/local/bin:$PATH

# initialise starship for zsh
eval "$(starship init zsh)"

# history settings
HISTFILE=~/.zsh_history             # file to save history between sessions
HISTSIZE=10000                      # number of commands to keep in memory
SAVEHIST=10000                      # number of commands to save in the history file

# history options
setopt HIST_IGNORE_DUPS             # don't store duplicate commands
setopt HIST_IGNORE_ALL_DUPS         # remove older duplicate commands when a new one is added
setopt HIST_REDUCE_BLANKS           # remove superfluous blanks before recording
setopt HIST_VERIFY                  # don't execute immediately when recalled, let me edit first
setopt SHARE_HISTORY                # share history across all sessions (advanced users)
setopt INC_APPEND_HISTORY           # immediately append to history instead of overwriting
setopt EXTENDED_HISTORY             # record timestamp of each command
setopt HIST_EXPIRE_DUPS_FIRST       # expire duplicate entries first when trimming history

# pyenv and pyenv virtualenv config
export PYENV_VIRTUALENV_DISABLE_PROMPT=1    # don't need this as starship displays the venv name
export PYENV_ROOT="$HOME/.pyenv"
[[ -d $PYENV_ROOT/bin ]] && export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init - zsh)"
eval "$(pyenv virtualenv-init -)"

# source plugins
source {{ zsh_root }}/plugins/fast-syntax-highlighting/fast-syntax-highlighting.plugin.zsh
source {{ zsh_root }}/plugins/zsh-autosuggestions/zsh-autosuggestions.plugin.zsh
source {{ zsh_root }}/plugins/zsh-completions/zsh-completions.plugin.zsh

# zsh-completion configuration
zstyle ':completion:*' menu select                          # enable menu selection for completions
zstyle ':completion:*' matcher-list 'm:{a-zA-Z}={A-Za-z}'   # case insensitive matching
zstyle ':completion:*' list-colors ${(s.:.)LS_COLORS}       # colorize completions
setopt AUTO_MENU                                            # automatically show menu after second tab
setopt COMPLETE_IN_WORD                                     # allow completion in the middle of words
setopt ALWAYS_TO_END                                        # move cursor to end of word after completion

# zsh-completion menu navigation keybindings
zmodload zsh/complist                                       # load completion list module
bindkey -M menuselect '^M' accept-line                      # enter to accept selection
bindkey -M menuselect '^[[Z' reverse-menu-complete          # shift+tab to go backwards
bindkey -M menuselect '^I' menu-complete                    # tab to go forwards
bindkey -M menuselect '^[[A' up-line-or-history             # up arrow
bindkey -M menuselect '^[[B' down-line-or-history           # down arrow
bindkey -M menuselect '^[[C' forward-char                   # right arrow
bindkey -M menuselect '^[[D' backward-char                  # left arrow

{% if ansible_facts['distribution'] == 'MacOSX' %}
#
# MacOSX specific settings
#

# rebuild completion system .zcompdump cache if missing or older than 1 day
# not necessary on Ubuntu as compinit is done in the /etc/zsh/zshrc file
autoload -U compinit
if [[ ! -f ~/.zcompdump || $(date +%s) -gt $(( $(stat -f %m ~/.zcompdump) + 86400 )) ]]; then
  compinit -u
else
  compinit -u -C
fi

{% elif ansible_facts['distribution'] == 'Ubuntu' %}
#
# Ubuntu specific settings
#

# bindkey word navigation
bindkey "^[[1;5C" forward-word      # ctrl + right
bindkey "^[[1;5D" backward-word     # ctrl + left

# bindkey word deletion
bindkey "^H" backward-kill-word     # ctrl + backspace (delete word backward)
bindkey "^[[3;5~" kill-word         # ctrl + delete (delete word forward)
{% endif %}

#zprof                              # zsh profiling